<header>
  <div class="container">
      <div class="row">
        <div class="col-md-1 col-sm-2 col-xs-2 logo">
          <a href="http://maratona.fullcycle.com.br/"><img src="http://maratona.fullcycle.com.br/static/site/img/logo-top.png"></a>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-10 titles">
          <h1 style="text-align: center;">Maratona Full Cycle 3.0</h1>
          <h1 style="text-align: center;">#eumecomprometo</h1>
          <h2>
              <a href="https://github.com/codeedu?q=maratonafc3"><i class="fab fa-github" aria-hidden="true"></i></a>
            </h2>
            <h2>
              <a href="https://t.me/devfullcycle"><i class="fab fa-telegram" aria-hidden="true"></i> </a>
            </h2>
        </div>
      </div>
    </div>
</header>

<div class="row">
  <div class="col-md-12">
    <div class="subtitle">
      <div class="container">
        <h3>Routes</h3>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr text-align="left">
            <th class="centered">METHOD</th>
            <th>PATH</th>
            <th>NAME</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td class="centered">
                GET
              </td>
              <td>
                <a href="http://localhost:3000/hello"> /hello</a>
              </td>
              <td>
                Hello 
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="foot"> <span> Powered by <a href="http://gobuffalo.io/">gobuffalo.io</a></span> </div>
